
<!-- <div *ngIf="!isAdminLoggedIn> TODO: BURANIN BÖYLE OLMASI LAZIM DÜZELTMEK İÇİN YAPTIM SOR 1 -->

<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">ApartEv</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Kayıt Ol</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Giriş Yap</a>
    </div>
  </nz-header>
</div>
<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">Admin Hesabı Aktif</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Kontrol Paneli</a>
      <a nz-button nzType="link" routerLink="/admin/apart" routerLinkActive="active">Apart Ekle</a>
      <a nz-button nzType="link" routerLink="/admin/search" routerLinkActive="active">Apart Ara</a>
      <a nz-button nzType="link" routerLink="/admin/bookings" routerLinkActive="active">Rezervasyon Talepleri</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Çıkış Yap</a>
    </div>
  </nz-header>
</div>
<div *ngIf="isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">ApartEv</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Kontrol Paneli</a>
      <a nz-button nzType="link" routerLink="/customer/apart/search" routerLinkActive="active">Apart Ara</a>
      <a nz-button nzType="link" routerLink="/customer/my_bookings" routerLinkActive="active">Rezervasyonlarım</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Çıkış Yap</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>
