<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <nz-table #basicTable [nzData]="bookings" [nzPageSize]="20" [nzShowPagination]="false">
        <thead>
            <tr>
                <th style="font-weight: bolder; color: #003973;">Başlangıç</th>
                <th style="font-weight: bolder; color: #003973;">Bitiş</th>
                <th style="font-weight: bolder; color: #003973;">Gün Sayısı</th>
                <th style="font-weight: bolder; color: #003973;">Fiyat</th>
                <th style="font-weight: bolder; color: #003973;">Durum</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of basicTable.data">
                <td>{{booking.fromDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{booking.toDate | date: 'dd-MM-yyyy'}}</td>                
                <td>{{booking.days}}</td>
                <td>{{booking.price}}</td>
                <td>
                    <strong
                      [ngStyle]="{ 'color': booking.bookApartStatus | bookingStatus:'color' }">
                      {{ booking.bookApartStatus | bookingStatus:'text' }}
                    </strong>
                  </td>
                  
                
            </tr>
        </tbody>
    </nz-table>
</nz-spin>